In [1]:
import pandas as pd
import numpy as np

In [2]:
#data preprocessing
df = pd.read_csv(r'iris.csv');
df

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [7]:
df.isnull()

        Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0    False          False         False          False         False    False
1    False          False         False          False         False    False
2    False          False         False          False         False    False
3    False          False         False          False         False    False
4    False          False         False          False         False    False
..     ...            ...           ...            ...           ...      ...
145  False          False         False          False         False    False
146  False          False         False          False         False    False
147  False          False         False          False         False    False
148  False          False         False          False         False    False
149  False          False         False          False         False    False

[150 rows x 6 columns]

In [6]:
df.describe(include='all');
df['Id']
#columns shows 
df.columns
#values in array format
df.columns.values

#missing values across columns
df.isnull().any()

#isna = isnull sum of total blank
df.isna().sum()

#grouping null values
#df1.groupby(['Gender'])['Score'].apply(lambda x:
#x.isnull().sum())


####dara formatting and normalization
df.dtypes

#change dtype
#df['PetalLength'];

df.head(n=5)
df.tail(n=5)
#total count (rows,columns)
df.shape #same as dtypes

#group by
df1.groupby(['Gender'])['Score'].apply(lambda x:
x.isnull().sum())

NameError: name 'df1' is not defined

In [31]:
#data normalization
from sklearn import preprocessing
x=df[['scores']].values.astype(float)
# min_max_scaler = preprocessing.MinMaxScaler()
# x_scaled = min_max_scaler.fit_transform(x)

KeyError: "None of [Index(['scores'], dtype='object')] are in the [columns]"

In [8]:
# label encoder
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Species'] = le.fit_transform(df['Species'])
newdf = df
df

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0      1            5.1           3.5            1.4           0.2        0
1      2            4.9           3.0            1.4           0.2        0
2      3            4.7           3.2            1.3           0.2        0
3      4            4.6           3.1            1.5           0.2        0
4      5            5.0           3.6            1.4           0.2        0
..   ...            ...           ...            ...           ...      ...
145  146            6.7           3.0            5.2           2.3        2
146  147            6.3           2.5            5.0           1.9        2
147  148            6.5           3.0            5.2           2.0        2
148  149            6.2           3.4            5.4           2.3        2
149  150            5.9           3.0            5.1           1.8        2

[150 rows x 6 columns]

In [7]:
df
df['SepalWidthCm'].dtypes
# dropping null value columns 
df.dropna(inplace=True)
df.shape

(150, 6)